@import '/breakpoints';

@font-face {
  font-family: NewYork;
  src: url("/fonts/NewYork.otf");
  }
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // gap: 1vw;
  .linkMobile{
    display: none;

    @include md {
      display: block;
      color: transparent;
      text-decoration: none;

  }}
  .double{
    margin-bottom: 2em;
    @include md {
      flex-direction: column;
    height: fit-content;
  }
    .imageContainer{
      width: 100%;

      @include md {
        // width: 100%;
    }
  
   
      
      .stretchyWrapper{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
         
        }
        .rounded {
          
          position: absolute;
              @include md {
                display: none;
                bottom: 30%;
            }
            .link{
              color: rgba(245, 245, 220, 0.842);
              text-decoration: none;
            
            }
        }
        .viewCase {
          font-family: Lato;
        }
      }
    }

   

    .body{
      font-size: 16px;
      padding: 10px;
      h3{ 
        font-family: NewYork;
        font-size: 1.8em;
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: 400;
      }

      p{
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        margin: 0px;
        color: rgb(187, 187, 187);
      }
      
    }
  }
}

