@import '/breakpoints';

.main{
    margin-top: 5vh;
    color: white;
    padding-bottom: 10vh;
    @include md {
      box-sizing: 0;
          width: 100%;
        }

    h1{
      padding: 20px;
      font-size: 5vw; 
      max-width: 80%;
      font-weight: 400;
    }
  }