@import '/breakpoints';


.main{
    height: 80vw;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
        height: 100vw;
        padding: 0 ;
        margin: 7em 0 7em 0;
    }
    img{
        height: 100%;
    }
}