@import '/breakpoints';


.main{
    height: 60vw;
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
        height: 100vw;
    }
    img{
        height: 100%;
    }
}