@import '/breakpoints';

.main {
    width: 100%;
    min-width: 100vw;
    margin: 0;
    background-color: black;
    @include md {
        width: 100%;
    // height: auto;   
    .parralex {
        position: sticky;
        top: 0;
    }
    }
  
}

