@font-face {
    font-family: NewYork;
    src: url("/fonts/NewYork.otf");
  
    }

    /* @font-face {
        font-family: myFirstFont;
        src: url(ArianaVioleta-dz2K.ttf);
    } */

body{
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */ 
}

.logo {
    font-family: NewYork;
    font-size: 15em;
    font-weight: 200;
}

.explore, .outro__text {
    font-family: NewYork;
}
