.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 5% 10% 5%;
    height: auto;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.headerForm {
    width: 100%;
    height: auto;
    color: white;
    font-size: 900%;
    padding: 2%;
    text-transform: uppercase;
}

.sentenceone {
    padding-left: 3%;
}

.sentencetwo {
    padding-left: 30%;
}

.formWrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 5px;
}

.companyinfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 2vh;
    padding-top: 2em;

}

.form {
    width: 100%;
    height: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.submit {
    z-index: 2;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2em;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}
#email {
        z-index: 2;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        padding: 2em;
        border: 1px solid white;
        border-radius: 30px;
        height: 10em;
    
}

.identity {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#firstname, #secondname {
    width: 49%;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2em;
    border: 1px solid white;
    border-radius: 30px;
}



.button {
    position: relative;
    width: 100%;
    height: 50px;
}

form {
    width: 45%;
}


@media only screen and (max-width: 600px) {
 .sentenceone, .sentencetwo {
    font-size: 11vw;
 }

 .formWrapper {
    flex-direction: column;
    height: auto;
 }

 .companyinfo {
    width: 100%;
 }
 form {
    width: 100%;
 }
}
