@import '/breakpoints';
.main {
    @include sm {
    box-sizing: content-box; 

        width: 100%;
    height: auto;   
    }
    @include md {
    box-sizing: content-box; 
        width: 100%;
    }
}