
body{
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */
    
    height: auto;
}

@media only screen and (max-width: 600px) {
    html,body {
        overflow: scroll;
        width: 100%;
    }
    .mobile {
        display: none;
    }
}


.LogoAnimation {
    width: auto;
    height: 100vh;
}

