
@font-face {
    font-family: NewYork;
    src: url("/fonts/NewYork.otf");
    }
*{
    margin: 0;
    padding: 0;

}
.body{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 25px;
    left: 25px;
    font-family: NewYork;
    font-size: 20px;
    font-weight: bold;
    color: #294757;

}
.page-container{
    display: flex;
    padding-left: 100px;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;

}
.page-not-found{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 70%;

}
.page-not-found span{
    font-size: 250px;
    line-height: 89%;
    color: #ffffff;
    font-weight: 200;
    overflow: hidden;
    font-family: NewYork;
}
.span404{
    display: inline-block;
    width: max-content;
    font-size: 200px;
    text-align: center;
    padding: 5px 50px;
    border-radius: 300px;
    border: 2px solid #b68c60;
}