@import '/breakpoints';
.main {
    @include sm {
        width: 100%;
    // height: auto;   
    }
    @include md {
        width: 100%;
    // height: auto;   
    overflow-x: hidden;
    overflow-y: scroll;
    }
  
}