@import '/breakpoints';

.landing{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: darken($color: black, $amount: 0.1);
    .canvas {
      width: 100vw;
      height: 100%;
    }
    img{
      object-fit: cover;
    }
    
    .sliderContainer{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .slider{
      position: relative;
      white-space: wrap;
    }
    
    .sliderContainer p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
  
  }
   
  
    .description{
      position: absolute;
      top: 35%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 100px;
      }
    }
    
  }
  
